ion-app {
    display: flex;
    justify-content: center;
    background-color: rgba(40, 40, 69, 0.748);
    align-items: center;
}
ion-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
}